<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Add new Author to Book</title>
  <style type = "text/css">
    body {
      width: 800px;
      margin: auto;
    }
    table {
      width:100%;
    }
    table, td, th {
      border: 1px solid black;
      padding:3px 2px;
    }
    section {
      float: left;
      margin: 0 1.5%;
      width: 63%;
    }
    aside {
      float: right;
      margin: 0 1.5%;
      width: 30%;
    }
  </style>
</head>
<body>
<header>
  <h1>Select the Author to add to the Book </h1>
</header>
<section>
  <h2>Select author:</h2>
  <form th:method="GET" th:action="@{/book-details}">
    <th:block th:each="author : ${listAuthors}">
      <input type="radio" name="authorId" th:value="${author.getId()}">
      <label th:text="${author.getAuthorFullname().getName()} + ' ' + ${author.getAuthorFullname().getSurname()}"></label><br>
    </th:block>
    <input type='submit' value='Add author'>
  </form>
</section>
<aside>
  <table>
    <tr>
      <!-- change to show selected book isbn -->
      <td><b>Book Isbn</b></td>
      <td th:text="${isbn}"></td>
    </tr>
  </table>
</aside>
</body>
</html>